:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-bg-color: #fcfaf7;
  --dark-bg-color:  #B3A593;
  --main-text-color:  #666666;
  --main-link-color:  #95bdbd;
  --main-link-hover: #5f7979;
  --alt-link-color: #fff;
}

a {
  font-weight: 500;
  color: var(--main-link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--main-link-hover);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

nav {
  text-align: center;
  width: 100%;
  background-color: var(--dark-bg-color);
}

nav a {
  display: inline-block;
  padding: 1em;
  color: var(--alt-link-color);
}

a.active {
  color: var(--main-text-hover);
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 2.5em;
}

main.flex {
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.link-sidebar {
  text-align: left;
  padding-right: 3em;
}

.link-sidebar h3 {
  margin-bottom: 0;
}

.link-sidebar p {
  margin: 0;
  font-size: 0.75em;
}

.link-sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

table {
  margin-top: 3em;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #cbcac8;
}

th, td {
  padding: 0.6em;
}

th {
  vertical-align: top;
  text-align: center;
}

th button {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background-color: transparent;
  font-size: 0.75em;
  padding: 2px;
}

button.ascending::after {
  content: ' ▲';
  font-size: 0.75em;
  padding-left: 0.2em;
}

button.descending::after {
  content: ' ▼';
  font-size: 0.75em;
  padding-left: 0.2em;
}

form {
  text-align: center;
  margin-bottom: 2em;
}

form select {
  margin-right: 1.5em;
  padding: 1px;
  color: var(--main-text-color);
}

form label {
  margin-right: 0.5em;
}

form input {
  margin-right: 1.5em;
  color: var(--main-text-color);
}